psycopg2-binary
requests
SlackClient
slackeventsapi
websocket-client==0.54.0
dropbox
Pillow>=7.1.0
pytz
flask
flask-cors
gunicorn
python-dotenv
bbcode
html-slacker
pyopenssl
pendulum
fitbit
withings-api
polar-accesslink
aiosql
jinja2
werkzeug
migra[pg]
sqlbag
flask-jwt-extended
gpxpy
geopy
googlemaps
google-api-python-client
google-auth-oauthlib
google-auth
schedule
staticmap
ipykernel
