.column1 {
  float: left;
  width: 100%;
}
.column2 {
  float: left;
  width: 50%;
}

.container_outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.container_inner {
  flex-grow: 3;  /* children property, since inner is part of outer */
  flex-shrink: 2;  /* children property, since select is part of outer */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly
}

@media screen and (max-width: 590px) {
  .container_inner {
    flex-direction: column;
  }
}

.statbox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center
}

.statheader {
    margin-bottom: 1px;
}

.stat {
  margin: 5px;
  margin-bottom: 10px;
}

.gargling-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  padding: .6em 1.4em .5em .8em;
  margin: 5px;
  box-sizing: border-box;
}

option {
    background: white;
    color:black;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 900px) {
  div[class="column2"] {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

h4 {
    margin-top: 0;
}

.pcswitch {
  text-align: left;
}



