@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Orbitron);

.timer {
    height: 85%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: FranklinGothic, Verdana, Arial, sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 3px 3px 0px #000;
    color: #ffffff;
}

h1 {
    width:100%;
    position:fixed;
    bottom:0px;
    text-align:center;
    color: #ffffff;
    text-shadow: 3px 3px 0px #000;
  font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* responsive media queries */

@media (min-width: 280px) {
    .timer {
        font-size: 35px;
    }
}

@media (min-width: 768px) {
    .timer {
        font-size: 50px;
    }
}

@media (min-width: 980px) {
    .timer {
        font-size: 60px;
    }
}

@media (min-width: 1200px) {
    .timer {
        font-size: 75px;
    }
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 170px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 130px;
  width: 130px;
  left: 20px;
  bottom: 20px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #98FB98;
}

input:focus + .slider {
  box-shadow: 0 0 1px #98FB98;
}

input:checked + .slider:before {
  -webkit-transform: translateX(130px);
  -ms-transform: translateX(130px);
  transform: translateX(130px);
}


.column1 {
  float: left;
  width: 100%;
}
.column2 {
  float: left;
  width: 50%;
}

.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: space-between
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 900px) {
  div[class^="column"] {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

h4 {
    margin-top: 0;
}

.pcswitch {
  text-align: left;
}


#mapid {
  height: 100%;
}


.location_img {
  width:300px;
}
